.channel_container{"data-channel-id" => @channel.id}

.row
  .col-10
    %h2= @channel.name
    %p= @channel.description
  .col-2
    = link_to "Leave channel", leave_channel_path, method: :post, class: 'btn btn-primary'


%h3 Chat
.card.p-3.m-3

%h3 Send Message
.card.p-3.m-3
  = form_with url: messages_path, method: :post, remote: true, class: 'send-message' do |f|
    = f.hidden_field :user_id, {value: current_user.id }
    = f.hidden_field :channel_id, {value:  @channel.id }

    .form-group
      = f.label :text
      = f.text_field :text, required: true, class: "form-control"

    .form-group
      = f.submit "Send message", { class: 'btn btn-primary btn-sm mt-2' }
